:root {
	--split-panel-separator-size: 4px;
	--split-panel-separator-color: #1e1e1e;
	--split-panel-separator-hover: #0078d4;
}

.window-splitter {
	flex-grow: 1;
}

:where(.window-splitter) {
	display: flex;
	width: 100%;
	height: 100%;

	> * {
		flex-shrink: 1;
		overflow: auto;
		box-sizing: border-box;
	}

	> [role="separator"] {
		position: relative;
		touch-action: none;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: visible;
		background-color: var(--split-panel-separator-color);
		z-index: 100;
		user-select: none;

		&::before {
			position: absolute;
			display: block;
			content: " ";
			transition: background-color 200ms ease-in;
		}

		&:hover::before {
			background-color: var(--split-panel-separator-hover);
			transition-delay: 200ms;
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	:where(.window-splitter) > [role="separator"]::before {
		transition-duration: 0s;
	}
}

:where(.window-splitter:has(> [role="separator"][aria-orientation="horizontal"])) {
	flex-direction: column;

	> [role="separator"] {
		cursor: row-resize;

		&::before {
			height: var(--split-panel-separator-size);
			top: calc(50% - var(--split-panel-separator-size) / 2);
			left: 0;
			right: 0;
		}
	}
}

:where(.window-splitter:has(> [role="separator"][aria-orientation="vertical"])) {
	> [role="separator"] {
		cursor: col-resize;

		&::before {
			width: var(--split-panel-separator-size);
			left: calc(50% - var(--split-panel-separator-size) / 2);
			top: 0;
			bottom: 0;
		}
	}
}
