html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#loader {
	display: flex;
	position: absolute;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background: #1e1e1e;
	color: #d4d4d4;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: system-ui, sans-serif;

	p {
		margin: 0;
		font-style: italic;
	}
}
