main {
	display: flex;
	width: 100vw;
	height: 100vh;
}

#editor {
	min-height: 300px;
	flex-grow: 1;
	background: #1e1e1e;

	textarea {
		width: 100%;
		height: 100%;
		border: 0;
		resize: none;
	}
}

#result {
	min-height: 100px;
	flex-grow: 1;

	background: rgb(24, 24, 24);
	border-top: 1px solid rgb(43, 43, 43);
	color: #d4d4d4;
	font-family: system-ui, sans-serif;
	overflow-x: auto;
	overflow-y: auto;
}

.problem-list {
	margin: 0.5rem 0;
	padding: 0;

	&__item {
		list-style: none;
	}
}

.problem {
	display: flex;
	padding: 0.25rem 0.5rem;
	align-items: center;
	gap: 0.5rem;

	&__icon {
		color: #f14c4c;
	}

	&__message {
		text-wrap: nowrap;
	}

	&__source {
		color: #858585;
		text-wrap: nowrap;
	}

	&__location {
		color: #858585;
		text-wrap: nowrap;
	}
}
